
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@model List<Product>
<h1>Ürünler</h1>
<a asp-controller="products" asp-action="add">Ürün ekle</a>
<table class="table">
    <thead>
        <th>Id</th>
        <th>ürün ismi</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <td>İşlem</td>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>@item.Price</th>
            <th>@item.Stock</th>
            <th>
                <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Sil</a>
                <a asp-controller="products" asp-action="update" asp-route-id="@item.Id">Güncelle</a>
            </th>
        </tr>
    }
    </tbody>
</table>

